html {
  background-color: #222;
  color: #eee;
  font-family: sans-serif;
  font-size: 12pt;
  line-height: 1.35;
}

body {
  padding: 1rem 0;
  max-width: 100ex;
}

header {
  margin-bottom: 1rem;
}
header > p {
  margin: 0;
}

a, a:visited {
  color: dodgerblue;
}

h2 {
  text-transform: captialize;
}

h1 { font-size: 16pt; margin-top: 2rem; }
h2 { font-size: 14pt; margin-top: 2rem; }
h3 { font-size: 12pt; margin-top: 1rem; }

pre {
  font-size: 12pt;
  padding: 7px 12px;
  background-color: #333;
  overflow-x: auto;
}

code, pre {
  white-space: pre;
}

.jqawk-header {
  display: flex;
  gap: 1rem;
  /* align-items: center; */
}
.jqawk-header img {
  width: 72px;
  height: 72px;
}
.jqawk-header h1 {
  font-size: 20pt;
  margin-top: 16px;
  color: #7cd879;
}

/* callouts */
.tip {
  border-left: .25em solid #6b6;
  padding: .25rem .5rem;
}
.tip .title {
  color: #6b6;
}
.tip p:first-child {
  margin-top: 0;
}
