html {
  background-color: #181d2b;
  color: #eee;
  font-family: sans-serif;
  font-size: 12pt;
  line-height: 1.35;
}

body {
  padding: 1rem 1rem;
  max-width: 100ex;
}

header {
  margin-bottom: 1rem;
}
header > p {
  margin: 0;
}

footer {
  background-color: #080d1b;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  padding: 2rem;
}

footer > div {
  max-width: 100ex;
  margin: 0 auto;
}

a, a:visited {
  color: dodgerblue;
  text-decoration: none;
}

h2 {
  text-transform: captialize;
}

h1 { font-size: 16pt; margin-top: 2rem; }
h2 { font-size: 14pt; margin-top: 2rem; }
h3 { font-size: 12pt; margin-top: 1rem; }

h1, h2, h3 {
  color: #7cd879;
}

pre {
  font-size: 12pt;
  padding: 7px 12px;
  overflow-x: auto;
}
pre, .sourceCode {
  background-color: #282d3b;
}

code, pre {
  white-space: pre;
}

.jqawk-header {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: .25rem solid #7cd879;
}
.jqawk-header img {
  width: 72px;
  height: 72px;
}
.jqawk-header h1 {
  font-size: 20pt;
  margin-top: 16px;
  color: #7cd879;
}

/* callouts */
.tip {
  border-left: .25em solid #6b6;
  padding: .25rem .5rem;
}
.tip .title {
  color: #6b6;
}
.tip p:first-child {
  margin-top: 0;
}
